<html>
    <head>
    <script src="/static/js/decoder.js"></script>
    <script src="/static/js/recorder/recorder.js"></script>
    </head>
    <body>
        <form method="post">
            Board: <input type="text" name="board"><br>
            <button name="change" type="submit" formmethod="post">Change Board</button>
        </form>

        <a href="real2.html">
            <button type="button">New</button>
        </a>

        {% block title %}
        <h1>{{title}}</h1>
        {% endblock %}

        {% for k in d %}
        <button onclick="decode({{d[k]}})" type="button">{{k}}</button>
        <br>
        {% endfor %}
    </body>
</html>
