<html>
    <body>
        <form method="post">
            Board: <input type="text" name="board"><br>
            <button name="change" type="submit" formmethod="post">Change Board</button>
        </form>

        {% block json_string %}

        {% block title %}
        <a href="edit/{{title}}.html">
            <button value="edit" type="submit" formmethod="post">Edit Board</button>
        </a>
        <h1>{{title}}</h1>
        {% endblock %}

        {% for i in data %}
        <a href="buttons/{{i.name}}.html">
            <button value="{{i.name}}" type="button">{{i.name}}</button>
        </a>
        <br>
        {% endfor %}
    </body>
</html>
