<html>
    <head>
        <script src="/static/js/recorder/recorder.js"></script>
        <script src="/static/js/main.js"></script>
    <body>
        {% block title %}
        <h1>{{title}}</h1>
        {% endblock %}
        <form>
            sound name: <input type="text" name="name"><br>
       
            <input type="hidden" name="bitstring">
            <button onclick="toggleRecording(this)" type="button">Record</button>
            <button onclick="toggleRecording(this)" type="button" formmethod="post">Stop</button>
            <button type="button" formmethod="get">Done</button>
            <a href="#" id="save">Hi</a>
        </form>
    </body>
</html>
