<!DOCTYPE html>
<html lang="en-US">
    <head>
        <script src="../js/recorder/recorder.js"></script>
        <script src="../js/main.js"></script>
    </head>
    <body style="background-color:powderblue">
        <p style="color:red" title="title">Hello World</p>
        <h2 style="font-family:courier">Head 2</h2>
        <h3 style="font-size:300%">Head 3</h3>
        <h4 style="text-align:center">Head 4</h4>
        <h5><b>Head 5</b></h5>
        <h6><i>Head 6</i></h6>
        <select onchange="hello(this.value)">
            <option value="option 1">1</option>
            <option value="option 2">2</option>
            <option value="option 3">3</option>
        </select>

        <script>
function hello(str) {
    

        </script>
        <form method="post">
            <button type="submit" formmethod="post">submit</button>
        </form>
        <br>
        <img src="templates/peter.png">
    </body>
</html>
